<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page not found! | Super Sprinter 3000</title>
    <link rel="stylesheet", href="stylesheets/main.css">
</head>
<body>
    <div class="container">
        <h1>Page not found! Error 404!</h1>
    </div>
</body>
</html>