<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Video | Video Library</title>
    <script src="/scripts/formValidator.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
</head>
<body>

    <div class="container">
        <form method="POST">
                <h1>Add New Video</h1>
                
                <label for="url">Video url:</label><br>
                <input type="text" name="url"><br>
                <!-- <input type="url" name="url" required><br> -->

                <label for="title">Video Title:</label><br>
                <input type="text" name="title"><br>
                <!-- <input type="text" name="title" minlength="3" required><br> -->

                <label for="description">Video description:</label><br>
                <!-- <input type="text" name="description"><br> -->
                <textarea name="description" cols="30" rows="5"></textarea><br>
                <!-- <textarea name="description" cols="30" rows="10" required></textarea><br> -->
                
                <label for="tags">Tags:</label><br>
                <input type="text" name="tags"><br>

                <label for="uploaded">Uploaded by:</label><br>
                <input type="text" name="uploaded"><br>
                <!-- <input type="text" name="uploaded" minlength="3"><br> -->

                <label for="email">Contact email:</label><br>
                <input type="text" name="email"><br>
                <!-- <input type="email" name="email"><br> -->

                <button type="submit" id="add-new-video">Add New Video</button>
        </form>
    </div>
</body>
</html>