<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Video | Video Library</title>
    <script></script>
    <link rel="stylesheet", href="main.css">
</head>
<body>

    <div class="container">
        <form method="POST">
            <fieldset>
                <legend><h1>Add New Video</h1></legend>
                
                <label for="url">Video url:</label><br>
                <input type="url" name="url" required><br>
                <!-- has to fit url syntax, dodac dodatkowa validacje -->

                <label for="title">Video Title:</label><br>
                <input type="text" name="title" minlength="3" required><br>

                <label for="description">Video description:</label><br>
                <textarea name="description" cols="30" rows="10" required></textarea><br>
                
                <label for="tags">Tags:</label><br>
                <input type="text" name="tags"><br>

                <label for="uploaded">Uploaded by:</label><br>
                <input type="text" name="uploaded" minlength="3"><br>

                <label for="email">Contact email:</label><br>
                <input type="email" name="email"><br>
                <!-- has to fit email syntax, dodac dodatkowa validacje -->

                <button type="submit" id="add-new-video">Add New Video</button>
            </fieldset>
        </form>
    </div>
    
</body>
</html>